*{
    font-family: Century Gothic;
}
body{
    overflow-x: hidden;
}
#videos{
    /* border: 2px solid #16a085; */
    width: 1150px;
    min-height: 600px;
    height: auto;
}
.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}

.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.button:active {
    position:relative;
    top:1px;
}

.vid {
    position: relative;
    flex: 0 1 auto;
    height: 400px;
    top: 10px;
}

.chat-container{
    position: absolute;
    top: 100px;
    right: 5px;
    width: 380px;
    height: 550px;
    border: 2px solid #16a085;
}

.chat-header{
    position: absolute;
    top: 2px;
    right: 15px;
    width: 360px;
}
.chat-messages{
    position: absolute;
    top: 80px;
    height: 400px;
    width: 350px;
    padding-left: 10px;
    overflow-y: auto;
}

.chat-form-container{
    position: absolute;
    top: 500px;
    right: 15px;
    width: 360px;
}


/*-------title-------*/
.title{
    height: 80px;
    width: 100%;
    display: flex;
    background-color: #2CD8D5;
    animation: mymove 5s infinite;
}
.logo_img{
    padding-left: 20px;
    width: 65px;
    height: 65px;
}

.logo_title{
    position: relative;
    padding-left: 10px;
    top: 10px;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
}
.navbar{
    position: absolute;
    display: inline-block;
    align-items: center;
    right: 25px;
    padding-top: 5px;
}
nav{
    flex: 1;
    display: flex;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-right: 5px;
    padding: 5px 20px;
    border-radius: 50px;
    text-align: center;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
}
nav ul li:hover{
    background: rgb(146, 146, 146);
    color: black;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.4);
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
   -webkit-transform: scale(1.06);
   -ms-transform: scale(1.06);
   -o-transform: scale(1.06);
   transform: scale(1.06);
}
nav ul li a{
    text-decoration: none;
    color: #000;
    transition: 0.6s ease;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
@keyframes mymove {
    from {background-color: #23fffb42;}
    to {background-color:  #ffbac346;}

}

.close_btn{
    border: none;
    position: relative;
    top: 10px;
    background-color:rgba(0, 0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    border-radius: 50px;
}
.leave_btn{
    border: none;
    position: relative;
    top: 10px;
    background-color:rgba(0, 0, 0, 0);
    font-size: 24px;
    font-weight: 700;
    border-radius: 50px;
}
.chat_input{
    height: 50px;
    width: 245px;
}
.btn{
    height: 50px;
    width: 60px;
    border-radius: 10px;

}
.sendgift{
    position: absolute;
    right: -10px;
    top: 0px;
    height: 50px;
    width: 60px;
    border-radius: 10px;
}

/*---------------*/
.reward{
    position: absolute;
    text-align: center;
    top: 350px;
    width: 375px;
    height: 140px;
    border: 2px solid #000;
    background-color: #FFBAC3;
    border: 2px solid #d44356;
    border-radius: 20px;
}
.car{
    background-image:url(../images/gift/car.png);
    width: 64px;
    height: 64px;
    border: none;
}
.carimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 250px;
    height: 250px;
}
#car{
    animation: car 5s linear infinite;
}
.arrow{
    background-image:url(../images/gift/cupid-arrow.png);
    width: 64px;
    height: 64px;
    border: none;
}
.arrowimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 250px;
    height: 250px;
}
#arrow{
    animation: arrow 5s linear infinite;
}
.diamond{
    background-image:url(../images/gift/diamond.png);
    width: 64px;
    height: 64px;
    border: none;
}
.diamondimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 250px;
    height: 250px;
}
#diamond{
    animation: diamond 5s linear infinite;
}
.dove{
    background-image:url(../images/gift/dove.png);
    width: 64px;
    height: 64px;
    border: none;
}
.doveimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 150px;
    height: 150px;
}
#dove{
    animation: dove 5s linear infinite;
}
.gift{
    background-image:url(../images/gift/gift-box.png);
    width: 64px;
    height: 64px;
    border: none;
}
.giftimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 250px;
    height: 250px;
}
#gift{
    animation: gift 5s linear infinite;
}
.microphone{
    background-image:url(../images/gift/microphone.png);
    width: 64px;
    height: 64px;
    border: none;
}
.microphoneimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
}
#microphone{
    animation: gift 5s linear infinite;
}
.rocket{
    background-image:url(../images/gift/rocket.png);
    width: 64px;
    height: 64px;
    border: none;
}
.rocketimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
}
#rocket{
    animation: rocket 5s linear infinite;
}
.teddy{
    background-image:url(../images/gift/teddy-bear.png);
    width: 64px;
    height: 64px;
    border: none;
}
.teddyimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
}
#teddy{
    animation: gift 5s linear infinite;
}
.treature{
    background-image:url(../images/gift/treasure.png);
    width: 64px;
    height: 64px;
    border: none;
}
.treatureimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
}
#treature{
    animation: gift 5s linear infinite;
}
.universe{
    background-image:url(../images/gift/universe.png);
    width: 64px;
    height: 64px;
    border: none;
}
.universeimg{
    position: absolute;
    top: 30%;
    left: -100px;
    z-index: 100;
    width: 200px;
    height: 200px;
}
#universe{
    animation: universe 5s linear infinite;
}
@keyframes car{
    0%{
        transform: translateX(-400vh);
        opacity: 0;
    }
    20%{

        opacity: 1;
    }
    80%{

        opacity: 1;
    }
    100%{
        transform: translateX(500vh);
        opacity: 0;
    }
}
@keyframes arrow{
    0%{
        transform: translate(-20vh,-40vh);
        opacity: 0;
    }
    30%{

        opacity: 1;
    }
    70%{

        opacity: 1;
    }
    100%{
        transform: translate(180vh,35vh);
        opacity: 0;
    }
}
@keyframes diamond{
    0%{
        transform: translate(100vh,10vh);
        opacity: 0;
    }
    30%{

        opacity: 1;
    }
    70%{

        opacity: 1;
    }
    100%{
        transform: translate(100vh,10vh);
        opacity: 0;
    }
}
@keyframes dove{
    0%{
        transform: translate(220vh,0vh);
        opacity: 0;
    }
    30%{

        opacity: 1;
    }
    70%{

        opacity: 1;
    }
    100%{
        transform: translate(-100vh,30vh);
        opacity: 0;
    }
}
@keyframes gift{
    0%{
        transform: translate(100vh,10vh);
        opacity: 0;
    }
    30%{

        opacity: 1;
    }
    70%{

        opacity: 1;
    }
    100%{
        transform: translate(100vh,10vh);
        opacity: 0;
    }
}
@keyframes rocket{
    0%{
        transform: translate(30vh,35vh);
        opacity: 0;
    }
    10%{

        opacity: 1;
    }
    90%{

        opacity: 1;
    }
    100%{
        transform: translate(1000vh,-1000vh);
        opacity: 0;
    }
}
@keyframes universe{
    0%{
        transform: translateX(200vh);
        opacity: 0;
    }
    20%{

        opacity: 1;
    }
    80%{

        opacity: 1;
    }
    100%{
        transform: translateX(-300vh);
        opacity: 0;
    }
}
.GiftMessage{
    position: absolute;
    top: 60%;
    left: 600px;
    z-index: 101;
    width: 400px;
    height: 200px;
    background-color: rgba(87, 87, 87, 0.404);
    color: #ffffff;
    border-radius: 25px;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}